Source: ros-lunar-qt-gui-core
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-lunar-catkin
Homepage: http://ros.org/wiki/qt_gui_core
Standards-Version: 3.9.2

Package: ros-lunar-qt-gui-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lunar-qt-dotgraph (>= 0.3.0), ros-lunar-qt-gui (>= 0.3.0), ros-lunar-qt-gui-app (>= 0.3.0), ros-lunar-qt-gui-cpp (>= 0.3.0), ros-lunar-qt-gui-py-common (>= 0.3.0)
Description: Integration of the ROS package system and ROS-specific plugins for a Qt-based GUI.
